<div class="container-fluid">
  <div class="row">
    
    <app-mobile-filter-toggle
      [showMobileFilters]="showMobileFilters"
      [activeFiltersCount]="getActiveFiltersCount()"
      (toggleMobileFilters)="toggleMobileFilters()"
    >
    </app-mobile-filter-toggle>

    
    <div class="col-lg-3 col-md-4 mb-4">
      <app-book-filters
        [searchParams]="searchParams"
        [showMobileFilters]="showMobileFilters"
        (searchParamsChange)="onSearchParamsChange($event)"
        (filtersChanged)="loadBooks()"
        (closeMobileFilters)="closeMobileFilters()"
      >
      </app-book-filters>
    </div>

    
    <div class="col-lg-9 col-md-8">
      <app-book-list
        [booksResponse]="booksResponse"
        [loading]="loading"
        [error]="error"
        [pageSize]="searchParams.size || 12"
        (pageSizeChange)="onPageSizeChange($event)"
        (retryLoad)="loadBooks()"
      >
      </app-book-list>

      <app-book-pagination
        [pagedResponse]="booksResponse"
        (pageChange)="goToPage($event)"
      >
      </app-book-pagination>
    </div>
  </div>
</div>
