
.btn[data-bs-toggle="collapse"] {
  position: relative;
}

.btn[data-bs-toggle="collapse"]:not(.collapsed)::after {
  transform: rotate(180deg);
}


.badge {
  font-size: 0.7rem;
}


.filter-chevron {
  transition: transform 0.3s ease;
}

.filter-chevron.rotated {
  transform: rotate(180deg);
}
