<div class="popular-book-card" [routerLink]="['/books', book.id]">
  <div class="book-thumbnail">
    <img
      [src]="book.thumbnail || defaultPlaceholder"
      [alt]="book.title"
      class="book-image"
      appFallbackImage
      [fallbackSrc]="defaultPlaceholder"
    />
    <div class="rank-badge">#{{ rank }}</div>
  </div>

  <div class="book-info">
    <h6 class="book-title" [title]="book.title">{{ book.title }}</h6>
    <p class="book-author" [title]="book.author">by {{ book.author }}</p>

    <!-- Genres if available -->
    @if (book.genres && book.genres.length > 0) {
    <div class="book-genres">
      @for (genre of book.genres.slice(0, 2); track genre) {
      <span class="genre-badge"> {{ genre.name }} </span>
      } @if (book.genres.length > 2) {
      <span class="more-genres"> +{{ book.genres.length - 2 }} </span>
      }
    </div>
    }
  </div>
</div>
